@if (pluginsService.plugins$ | async | mapPluginsToList; as plugins) {
  @if (plugins.length) {
    @if (articleService.article$ | async; as article) {
      <div cdkDropListGroup class="flex">
        <app-plugins-panel [plugins]="plugins"></app-plugins-panel>
        <app-article class="flex-1" [article]="article"></app-article>
      </div>
    } @else {
      loading article...
    }
  } @else {
    <div class="flex flex-col items-center gap-8 mt-20">
      <img src="assets/empty-page-question.png" alt="empty-page-questions" />

      <p class="text-center">
        To start editing the article, you first need to install at least one
        plugin. <br />
        To do this, go to the plugins page.
      </p>

      <button routerLink="/store" class="px-4 py-2 border rounded border-black">
        OPEN PLUGINS PAGE
      </button>
    </div>
  }
} @else {
  loading plugins...
}
