@if (pluginsService.plugins$ | async; as plugins) {
  @if (plugins.length) {
    TODO IMPL ARTICLE PAGE
  } @else {
    <div class="flex flex-col items-center gap-8 mt-20">
      <img src="assets/empty-page-question.png" alt="empty-page-questions" />

      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        voluptate saepe. Repellendus ab optio nihil suscipit nostrum. Atque
        <br />
        culpa sunt tempora ratione molestias sequi, tenetur minus suscipit odit
        dolores rerum!
      </p>

      <button routerLink="/store" class="px-4 py-2 border rounded border-black">
        OPEN PLUGINS PAGE
      </button>
    </div>
  }
} @else {
  loading...
}
